body {
    background-color: plum;
  }
  
  h1 {
    color: pink;
  }

  .center{
    text-align: center;
  }

  .fonte-verde{
    color: green;
  }
  #para {
    font-family: verdana;
    font-size: 20 px;
  }