body {
    background-color:rgba(230, 230, 250, 0.7);
    background-image: url("https://imgs.casasbahia.com.br/1504915581/1xg.jpg?imwidth=500");
    font-family: 'Nanum Myeongjo', sans-serif;
  }
  
  h1 {
    color: rgb(241, 40, 151);
    background-color: pink;
    border: 4px solid deeppink;
    border-style: outset;
    margin-right: 40px;
    margin-left: 40px;
    text-shadow: 2px 2px 5px rgb(238, 84, 166);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(232, 21, 232);
  }

  /* CLASS */
  .center{
    text-align: center;
  }

  .fonte-principal{
    color: rgb(232, 87, 232);
    border-style:solid;
    margin-right: 40px;
    margin-left: 40px;
  }

  /* ID */
  #para {
    font-family: verdana;
    font-size: 20 px;
  }

  /* CLASS */
  .center{
    text-align: center;
  }

  .fonte-principal{
    color: rgb(232, 21, 232);
  }

  /* ID */
  #para {
    font-family: "Sofia";
    font-size: 20 px;
  }

.link {
  text-align: center;
  font-size: 30px;
  text-transform: lowercase;
  }

.link a{
  text-decoration: none;
  color: deeppink;
  text-shadow: 2px 2px 5px rgb(238, 84, 166);
}

  p {
    border: 2px solid black;
    outline: deeppink solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  }