body {
    background-color:rgba(230, 230, 250, 0.7);
  }
  
  h1 {
    color: mediumslateblue;
    background-color: pink;
    border: 4px solid deeppink;
    border-style: outset;
  }

  
  /* CLASS */
  .center{
    text-align: center;
  }

  .fonte-principal{
    color: mediumslateblue;
  }

  /* ID */
  #para {
    font-family: verdana;
    font-size: 20 px;
  }

  /* CLASS */
  .center{
    text-align: center;
  }

  .fonte-principal{
    color: mediumslateblue;
  }

  /* ID */
  #para {
    font-family: verdana;
    font-size: 20 px;
  }